#add-entry-messages {
    margin-top: 16px;
}
#crew-list-form {
    margin-top: 24px;
}
#rankings-search, #manual-entry-form {
    margin-top: 21px;
}
#add-entry {
    margin-left: 12px;
}
#add-entry-widget-results p {
    margin: 0.4em 0;
}
#manual-entry-form select {
    width: 80px;
}
#add-entry-widget-messages {
    margin-top: 16px;
}
#manual-entry-form {
    display: none;
}
#manual-entry-form input[type=text], #manual-entry-form input[type=date] {
    width: 126px;
}
#rankings-update {
    display: none;
}