#rankings-update {
    display: none;
}
#rankings-search {
    margin-top: 21px;
}
#manual-entry-form {
    display: none;
    margin-top: 21px;
    input[type=text], input[type=date] {
        width: 126px;
    }
    select {
        width: 80px;
    }
}
#crew-list-form {
    margin-top: 24px;
    #add-entry {
        margin-left: 12px;
    }
}
#add-entry-widget-messages {
    margin-top: 16px;
}
#add-entry-widget-results p {
    margin: 0.4em 0;
}