<style type="text/css">
    #name {
        width: 250px;
    }
    #results-form tbody tr {
        cursor: pointer;
    }
    #results-form tbody tr.selected {
        background-color: #ffc;
    }
</style>
<div id="rankings-search">

    <form id="rankings-search-form">
        <div class="block form-group">
            <label for="name">Search by name or BCU number</label>
            <input type="text" name="name" id="name" value="" required autocomplete="off">
        </div>
    </form>

    <form id="results-form">
        <div id="users-contain">
            <div class="block form-group">
                <table id="users">
                    <thead>
                    <tr>
                        <th></th> <!-- Radio button -->
                        <th>Name</th>
                        <th>Club</th>
                        <th>Class</th>
                        <th>Division</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="block form-group">
                <button id="add-member" disabled>Add to Crew</button>
            </div>
        </div>
    </form>

</div>

<script>

    function search() {
        google.script.run
                .withSuccessHandler(onSearchResultsLoaded)
                .findSpreadsheetRankings(spreadSheetId, $('#name').val());
    }

    function getNumRowsSelected() {
        return $('#users').find('input[name=entry]:checked').length;
    }

    function onSearchResultsLoaded(resp) {
        var $users = $('#users');
        $users.find('tbody').empty().append(resp.map(function(row) { return '<tr>' +
                '<td><input type="checkbox" name="entry" value="' + row.join('|') + '" /></td>' +
                '<td>' + row[1] + ' ' + row[0] + '</td>' +
                '<td>' + row[2] + '</td>' +
                '<td>' + row[3] + '</td>' +
                '<td>' + row[6] + '</td>' +
                '</tr>';}));

        $users.find('input[name=entry]').change(function() {
            $('#add-member').prop('disabled', getNumRowsSelected() === 0);
            var $row = $(this).closest('tr');
            if (this.checked) {
                $row.addClass('selected');
            } else {
                $row.removeClass('selected');
            }
        });

        $users.find('tr').click(function() {
            $(this).find('input[name=entry]').each(function(idx, el) {
                $(el).click();
            });
        });

        if (resp.length == 1) {
            $users.find('input[name=entry]').prop('checked', true);
        }
    }

    function onClickAddToCrew() {
        var $users = $('#users');
        var selectedMembers = $users.find('input[name=entry]:checked').map(function() {
            return [$(this).val().split('|')];
        });
        $('#rankings-search').trigger('crewMemberAdd', {
            selectedMembers: selectedMembers
        });
        $users.find('tbody').empty();
        $('#add-member').prop('disabled', true);
        $('#name').val('');
    }

    /**
     * Fired when the submitted crew was processed successfully
     */
    function onCrewSubmitSuccess() {
        $('#name').focus();
    }

    $(function() {

        $('#rankings-search-form')
            .on('crewSubmitSuccess', onCrewSubmitSuccess)
            .submit(function (event) {
                event.preventDefault();
                search();
            });

        $('#add-member').click(function (event) {
            event.preventDefault();
            onClickAddToCrew();
        });

    });
</script>