<script>
    var haslerRegionsData = new SelectListData({
        options: [
            ['EA', 'Eastern'],
            ['LS', 'London & South East'],
            ['MID', 'Midlands'],
            ['NO', 'Northern'],
            ['NW', 'North West'],
            ['SCOE', 'Scotland East'],
            ['SCOW', 'Scotland West'],
            ['SO', 'Southern'],
            ['SW', 'South West'],
            ['WA', 'Wales'],
            ['YH', 'Yorkshire'],
            ['CS', 'Services']
        ]
    });
</script>