<style type="text/css">
    .rankings-search-form input[type="search"] {
        width: 250px;
    }
    .rankings-search-results {
        margin-top: 16px;
    }
    .rankings-search-results tbody tr {
        cursor: pointer;
    }
    .rankings-search-results tbody tr.selected {
        background-color: #ffc;
    }
</style>
<script>
    var TableData = Backbone.Model.extend({});

    var BaseComponent = Backbone.View.extend({

        createDiv_: function(idSuffix, options) {
            var newEl = $(document.createElement('div')).attr('id', this.el.id  + idSuffix);
            if (options && options.className) {
                newEl.addClass(options.className);
            }
            return newEl;
        },

        createOptionsForSubView: function(options, additionalOptions) {
            var childOpts = _.clone(options);
            delete childOpts.el;
            delete childOpts.id;
            delete childOpts.className;
            return _.extend(childOpts, additionalOptions || {});
        }

    });

    var HaslerRankingDetails = function(options) {
        this.raceDate = new Date();
        this.bcuRegexp = '^(\\d+|(SCA|WCA) ?\\d+|INT|[A-Z]{3}\\/\\d+|ET [A-Z]{3})$';
        this.classListData = options.classListData;
        this.clubListData = options.clubListData;
    };

    HaslerRankingDetails.prototype = {
        nameCellRenderer: function(value, index, object) {
            return object['Surname'] + ', ' + object['First name'];
        },
        isBCUCurrent: function(value, object) {
            return new Date(object['Expiry']) >= this.raceDate;
        },
        isBCUNumberValid: function(value, object) {
            return object['BCU Number'] && new RegExp(this.bcuRegexp).test(object['BCU Number']);
        },
        wrapIfInvalid: function(value, object, validatorFn) {
            if (!validatorFn(value, object)) {
                return '<span class="warning">' + value + '</span>';
            } else {
                return value;
            }
        },
        addTitle: function(value, options) {
            if (value === '') {
                return '';
            }
            var matches = _.filter(options, function(option) {
                return value === option[0];
            });
            return matches.length > 0 ? '<abbr title="' + matches[0][1] + '">' + value + '</abbr>' : value;
        },
        getCellRenders: function() {
            return {
                'Name': this.nameCellRenderer,
                'Class': _.bind(function (value, index, object) {
                    return this.addTitle(object['Club'], this.clubListData.get('options')) +
                            ', ' +
                            this.addTitle(object['Class'], this.classListData.get('options'));
                }, this),
                'Div': function (value, index, object) {
                    return object['Division'];
                },
                'BCU #': _.bind(function (value, index, object) {
                    return this.wrapIfInvalid(object['BCU Number'], object, _.bind(this.isBCUNumberValid, this));
                }, this),
                'Expiry': _.bind(function (value, index, object) {
                    if (value) {
                        var parts = new Date(value).toDateString().split(' ');
                        return parts.length == 4 ? this.wrapIfInvalid([parts[2].replace(/^0/, ''), parts[1], parts[3]].join(' '), object, _.bind(this.isBCUCurrent, this)) : '';
                    } else {
                        return '';
                    }
                }, this)
            };
        }
    };

    var RankingsSearch = BaseComponent.extend({

        events: {
            'click button[type=button]': 'onEditClick'
        },

        initialize: function(options) {
            this.dispatcher = options.dispatcher;
            var childOpts = this.createOptionsForSubView(options, {
                data: new TableData({
                    columns: options.columns,
                    values: []
                })
            });
            this.searchForm = new RankingsSearchForm(_.extend({}, childOpts, {
                id: 'rankings-search-form',
                className: 'rankings-search-form',
                scriptMethod: 'sidebar_entries_search',
                searchPrompt: 'Search by name or BCU number',
                disabled: options.searchDisabled
            }));
            this.resultsForm = new DataTableForm(_.extend({}, childOpts, {
                id: 'results-form',
                className: 'rankings-search-results',
                blocks: [
                    new FormBlock({
                        controls: [
                                new DataTable(_.extend({}, childOpts, {
                                    id: 'rankings-search-results',
                                    inputType: 'checkbox'
                                }))
                        ]
                    }),
                    new FormBlock({
                        controls: options.resultsButtons || [
                            new FormButton({
                                type: 'submit',
                                text: 'Add'
                            }),
                            new FormButton({
                                type: 'reset',
                                text: 'Clear'
                            })
                        ]
                    })
                ]
            }));
            this.dispatcher.bind('selectedDataChange', this.onSelectedDataChange, this);

            this.dispatcher.bind('submitSuccess', function(payload) {
                this.searchForm.reset();
            }, this);
            this.dispatcher.bind('reset', function() {
                this.searchForm.reset(false).focus();
            }, this);
        },

        render: function() {
            this.$el.empty().append([this.searchForm.render().$el, this.resultsForm.render().$el, this.createDiv_('-messages')]);
            return this;
        },

        onSelectedDataChange: function(payload) {
            this.selected = payload && payload.selected ? payload.selected : [];
            this.$('#edit-member').prop('disabled', this.selected.length != 1);
        },

        onEditClick: function(event) {
            this.dispatcher.trigger('editMember', {
                selected: this.selected
            });
        }

    });

    var DataTable = Backbone.View.extend({

        tagName: 'table',

        events: {
            'change input[name=entry]': 'toggleResult',
            'click input[name=entry]': 'clickResult',
            'click tr': 'clickResultRow'
        },

        initialize: function(options) {

            this.dispatcher = options.dispatcher;

            this.inputType = options.inputType || 'hidden';

            this.data = options.data;

            this.displayColumns = options.displayColumns || this.data.get('columns');
            this.cellRenderers = options.cellRenderers || {};

            this.listenTo(this.data, 'change', this.render);
        },

        render: function() {
            this.$el.html('<thead><tr></tr></thead><tbody></tbody>');
            this.renderTableHeadings_();
            this.renderTableData_();
            this.dispatcher.trigger('selectedDataChange');
            return this;
        },

        getSelectedData: function() {
            return _.map(this.$('input[type=checkbox]:checked, input[type=hidden]'), function(el) {
                return this.data.get('values')[parseInt($(el).val())];
            }, this);
        },

        defaultCellRenderer: function(value) {
            return value;
        },

        headingsRenderer: function(names) {
            return _.map(this.displayColumns, function (colName) {
                return '<th>' + colName + '</th>';
            }, this);
        },

        dataRenderer: function(row) {
            return _.map(this.displayColumns, function (colName, index) {
                var cellRenderer = this.cellRenderers[colName] || this.defaultCellRenderer;
                return '<td>' + cellRenderer(row[colName], index, row) + '</td>';
            }, this);
        },

        renderTableHeadings_: function() {
            this.$el.find('thead tr').html('<th></th>').append(this.headingsRenderer(this.data.get('columns')));
        },

        renderTableData_: function () {

            var count = -1;
            this.$el.find('tbody').empty().append(_.map(this.data.get('values'), function(row) {
                count ++;
                return this.generateDataRowHtml_(row, count);
            }, this));

            if (this.data.values.length == 1) {
                this.$el.find('input[type=' + this.inputType + ']').prop('checked', true).change();
            }
        },

        generateDataRowHtml_: function(row, index) {
            return '<tr>' +
                    '<td><input type="' + this.inputType + '" name="entry" value="' + index + '" /></td>' +
                    this.dataRenderer(row) +
                    '</tr>';
        },

        truncateBody: function() {
            this.data.set('values', []);
        },

        toggleResult: function(event) {
            var $row = $(event.currentTarget).closest('tr');
            if (event.currentTarget.checked) {
                $row.addClass('selected');
            } else {
                $row.removeClass('selected');
            }
            this.dispatcher.trigger('selectedDataChange', {
                selected: this.getSelectedData()
            });
        },

        clickResult: function(event) {
            event.stopPropagation(); // Stop event going to the row
        },

        clickResultRow: function(event) {
            $(event.currentTarget).find('input[name=entry]').each(function(idx, el) {
                var currentState = $(el).prop('checked');
                $(el).prop('checked', !currentState).change();
            });
        },

        defaultHeadingsRenderer: function(names) {
            return $.map(names, function (colName) {
                return '<th>' + colName + '</th>';
            });
        },

        defaultDataRenderer: function(values) {
            return values.map(function (value) {
                return '<td>' + value + '</td>';
            });
        }

    });

    var DataForm = Backbone.View.extend({

        tagName: 'form',

        events: {
            'submit': 'submit',
            'click button[type=reset]': 'onClickReset'
        },

        initialize: function(options) {

            this.dispatcher = options.dispatcher;

            var childOpts = _.clone(options);
            delete childOpts.el;
            delete childOpts.id;
            this.blocks = options.blocks || [];

            this.dispatcher.bind('submitSuccess', this.onSubmitSuccess, this);
            this.dispatcher.bind('submitFailure', this.onSubmitFailure, this);
            this.dispatcher.bind('formData', this.setFormData, this);
        },

        render: function() {
            this.$el.empty().append(_.map(this.blocks, function(block) {
                return block.render().$el;
            }, this));
            return this;
        },

        submit: function(event) {
            event.preventDefault();
            this.setButtonsDisabled_(true, 'submit');
            var formData = this.$el.serializeObject();
            this.dispatcher.trigger('submit', {
                data: formData
            });
        },

        onClickReset: function() {
            this.reset().focus();
        },

        reset: function(trigger) {
            this.resetFormFields_();
            if (trigger !== false) {
                this.dispatcher.trigger('reset');
            }
            return this;
        },

        onSubmitSuccess: function() {
            this.resetFormFields_();
            this.setButtonsDisabled_(false, 'submit');
        },

        onSubmitFailure: function() {
            this.setButtonsDisabled_(false, 'submit');
        },

        setButtonsDisabled_: function (disabled, type) {
            this.$el.find('button[type=' + (type || '') + ']').prop('disabled', disabled);
            return this;
        },

        resetFormFields_: function() {
            this.$el.find('input[type=text], input[type=date], input[type=search]').val('');
            this.$el.find('select').prop('selectedIndex', 0);
            return this;
        },

        setFormFieldsDisabled: function (disabled) {
            this.$el.find('input[type=text], input[type=date], input[type=search]').prop('disabled', disabled);
            return this;
        },

        focus: function () {
            var els = this.$('input[type=text], input[type=search], select');
            if (els.length) {
                els[0].focus();
            }
            return this;
        },

        setFormData: function(formData) {
            _.each(formData.values, function(value, key) {
                this.$el.find('input[name="' + key + '"], select[name="' + key + '"]').val(value);
            }, this);
        }

    });

    var DataTableForm = DataForm.extend({

        initialize: function(options) {
            DataForm.prototype.initialize.call(this, options);
            this.dispatcher.bind('selectedDataChange', this.onTableSelectedDataChange, this);
        },

        render: function() {
            DataForm.prototype.render.call(this);
            this.setButtonsDisabled_(true, 'submit');
            return this;
        },

        onTableSelectedDataChange: function() {
            this.setButtonsDisabled_(this.getNumTableRowsSelected_() === 0, 'submit');
        },

        onSubmitSuccess: function() {
            DataForm.prototype.onSubmitSuccess.call(this);
            this.clearTableData_();
        },

        getTableControls: function() {
            var empty = [];
            return empty.concat.apply(empty, _.map(this.blocks, function(block) {
                return block.getTableControls();
            }));
        },

        getNumTableRowsSelected_: function() {
            return _.reduce(_.values(this.getTableData()), function(memo, val) {
                return memo + _.pairs(val).length;
            }, 0, this);
        },

        getTableData: function() {
            return _.object(_.map(_.filter(this.getTableControls(), function(control) {
                return control.id;
            }), function(control) {
                return [control.id, control.getSelectedData()];
            }));
        },

        clearTableData_: function() {
            _.each(this.getTableControls(), function(control) {
                control.truncateBody();
            });
        },

        submit: function(event) {
            event.preventDefault();
            var formData = this.$el.serializeObject();
            this.dispatcher.trigger('submit', {
                data: formData,
                tableData: this.getTableData()
            });
            this.setButtonsDisabled_(true, 'submit');
        },

        reset: function() {
            DataForm.prototype.reset.call(this);
            this.clearTableData_();
            return this;
        }

    });

    var RankingsSearchForm = DataForm.extend({

        initialize: function(options) {

            DataForm.prototype.initialize.call(this, options);

            this.scriptMethod = options.scriptMethod;
            this.searchPrompt = options.searchPrompt;
            this.spreadsheetId = options.spreadsheetId;
            this.disabled = options.disabled === true;

            this.data = options.data;
        },

        render: function() {
            this.$el.html('<div class="block form-group">' +
                    '<label for="name">' + this.searchPrompt + '</label>' +
                    '<input type="search" name="name" id="name" value="" required aria-valuemin="2" autocomplete="off">' +
                    '</div>');
            this.$('input').prop('disabled', this.disabled);
            return this;
        },

        submit: function(event) {
            event.preventDefault();
            var term = this.$('input').val();
            if (term && term.length > 1) {
                google.script.run
                        .withSuccessHandler(_.bind(this.onSearchResultsLoaded, this))
                        [this.scriptMethod](this.spreadsheetId, term);
            }
        },

        onSearchResultsLoaded: function (resp) {
            this.data.set('values', resp);
        }

    });

    var FormBlock = Backbone.View.extend({
        className: 'block form-group',
        initialize: function(options) {
            this.controls = options.controls;
        },
        render: function() {
            this.$el.empty().append(_.map(this.controls, function(control) {
                return control.render().$el;
            }, this));
            return this;
        },
        getTableControls() {
            return _.filter(this.controls, function (control) {
                return control.tagName === 'table';
            });
        }
    });

    var FormGroupInline = FormBlock.extend({
        className: 'inline form-group'
    });

    var FormButton = Backbone.View.extend({
        tagName: 'button',
        initialize: function(options) {
            this.type = options.type;
            this.disabled = options.disabled === true;
            this.required = options.required === true;
            this.text = options.text;
        },
        render: function() {
            this.$el.html(this.text)
                    .prop('type', this.type)
                    .prop('disabled', this.disabled)
                    .prop('required', this.required);
            return this;
        }
    });

    var FormField = Backbone.View.extend({
        tagName: 'span',
        initialize: function(options) {
            this.fieldId = options.fieldId;
            this.fieldClassName = options.fieldClassName;
            this.name = options.name;
            this.type = options.type;
            this.label = options.label;
            this.disabled = options.disabled === true;
            this.required = options.required === true;
            this.value = options.value;
            this.size = options.size;
            this.pattern = options.pattern;
            this.title = options.title;
        },
        getFieldHtmlId_() {
            return this.fieldId || this.name;
        },
        getLabelHtml_() {
            return _.template('<label for="<%= id %>"><%= label %></label>')({
                id: this.getFieldHtmlId_(),
                label: this.label
            });
        },
        getControlHtml_() {
            var template;
            if (this.type == 'text' || this.type == 'date') {
                template = '<input id="<%= id %>" class="<%= className %>" name="<%= name %>" <%= title ? \'title="\' + title + \'"\' : "" %> type="<%= type %>" value="<%= value %>" <%= required ? "required" : "" %> <%= pattern ? \'pattern="\' + pattern + \'"\' : "" %> <%= disabled ? "disabled" : "" %> />';
            } else {
                throw 'Unknown type ' + this.type;
            }
            return _.template(template)({
                id: this.getFieldHtmlId_(),
                className: this.fieldClassName,
                name: this.name,
                type: this.type,
                disabled: this.disabled,
                required: this.required,
                size: this.size,
                value: this.value,
                pattern: this.pattern,
                title: this.title
            });
        },
        render: function() {
            this.$el.empty().append([this.getLabelHtml_(), this.getControlHtml_()]);
            return this;
        }
    });
    var FormSelectField = FormField.extend({
        initialize: function(options) {
            FormField.prototype.initialize.apply(this, arguments);
            this.selectList = options.selectList;
        },
        getControlHtml_() {
            return this.selectList.render().$el.attr('id', this.getFieldHtmlId_());
        }
    });

    var TabsList = Backbone.View.extend({

        tagName: 'div',

        events: {
            'click a': 'clickTab'
        },

        initialize: function (options) {
            this.dispatcher = options.dispatcher;
            this.tabs = options.tabs;
            this.dispatcher.bind('select', this.selectTab, this)
        },

        render: function () {
            this.$el.empty().append(_.map(_.pairs(this.tabs), function(pair, index) {
                var name = pair[0], view = pair[1];
                return _.template('<span class="<%= className %>" data-target="<%= targetId %>"><a href="#"><%= name %></a></span>')({
                    name: name,
                    targetId: view.el.id,
                    className: index === 0 ? 'tab selected' : 'tab'
                });
            }));
            return this;
        },

        showView_: function(elId) {
            _.each(_.values(this.tabs), function(view) {
                if (view.el.id == elId) {
                    view.$el.css('display', 'block');
                } else {
                    view.$el.css('display', 'none');
                }
            }, this);
            this.$('span.tab').removeClass('selected');
            this.$('span.tab[data-target=' + elId + ']').addClass('selected');
        },

        clickTab: function(event) {
            event.preventDefault();
            this.showView_($(event.target).closest('span').attr('data-target'));
        },

        selectTab: function(payload) {
            this.showView_(payload.id);
        }
    });
</script>