<style type="text/css">
    form thead th {
        font-weight: 700;
    }
</style>
<script>

    var RaceListData = Backbone.Model.extend({});

    var SelectList = Backbone.View.extend({
        tagName: 'select',
        initialize: function(options) {
            this.model = options.model || [];
            this.name = options.name;
            this.title = options.title;
            this.listenTo(this.model, 'change', this.render);
        },
        render: function() {
            this.$el.empty().append(_.map(this.model.get('options'), function(option) {
                var $el = $(document.createElement('option'));
                if (_.isString(option)) {
                    $el.html(option);
                } else if (_.isArray(option)) {
                    $el.attr('value', option[0]).html(option[1] || option[0]);
                } else if (_.isObject(option)) {
                    $el.attr('value', option.value).html(option.text || option.value);
                }
                return $el;
            }, this)).attr('name', this.name).attr('title', this.title);
            return this;
        },
        getSelectedValue: function() {
            return this.el.options[this.el.selectedIndex];
        },
        getSelectedText: function() {
            return this.$el.val();
        }
    });

</script>