<style type="text/css">
    #rankings-search-form input[type="text"] {
        width: 250px;
    }
    #results-form tbody tr {
        cursor: pointer;
    }
    #results-form tbody tr.selected {
        background-color: #ffc;
    }
</style>
<script>
    var TableData = Backbone.Model.extend({});

    var RankingsSearch = Backbone.View.extend({

        initialize: function(options) {
            var childOpts = _.clone(options);
            delete childOpts.el;
            delete childOpts.id;
            delete childOpts.className;
            childOpts.data = new TableData({
                columns: options.columns,
                values: []
            });
            this.searchForm = new RankingsSearchForm(_.extend({}, childOpts, {
                id: 'rankings-search-form',
                className: 'search-form',
                scriptMethod: 'sidebar_entries_search',
                searchPrompt: 'Search by name or BCU number'
            }));
            this.resultsForm = new DataTableForm(_.extend({}, childOpts, {
                id: 'results-form',
                blocks: [
                    new FormBlock({
                        controls: [
                                new DataTable(_.extend({}, childOpts, {
                                    id: 'rankings-search-results',
                                    inputType: 'checkbox'
                                }))
                        ]
                    }),
                    new FormBlock({
                        controls: [
                            new FormButton({
                                id: 'add-member',
                                type: 'submit',
                                text: 'Add to Crew'
                            })
                        ]
                    })
                ]
            }));
        },

        render: function() {
            this.$el.empty().append([this.searchForm.render().$el, this.resultsForm.render().$el]);
            return this;
        }

    });

    var RankingsSearchForm = Backbone.View.extend({

        tagName: 'form',

        events: {
            'submit': 'submit'
        },

        initialize: function(options) {

            this.dispatcher = options.dispatcher;
            this.scriptMethod = options.scriptMethod;
            this.searchPrompt = options.searchPrompt;

            this.spreadSheetId = options.spreadSheetId;
            this.data = options.data;
        },

        render: function() {
            this.$el.html('<div class="block form-group">' +
                    '<label for="name">' + this.searchPrompt + '</label>' +
                    '<input type="text" name="name" id="name" value="" required aria-valuemin="2" autocomplete="off">' +
                '</div>');
            return this;
        },

        submit: function(event) {
            event.preventDefault();
            var term = this.$('input').val();
            if (term && term.length > 1) {
                google.script.run
                        .withSuccessHandler(_.bind(this.onSearchResultsLoaded, this))
                        [this.scriptMethod](this.spreadSheetId, term);
            }
        },

        onSearchResultsLoaded: function (resp) {
            this.data.set('values', resp);
        }

    });

    var DataTable = Backbone.View.extend({

        tagName: 'table',

        events: {
            'change input[name=entry]': 'toggleResult',
            'click input[name=entry]': 'clickResult',
            'click tr': 'clickResultRow'
        },

        initialize: function(options) {

            this.dispatcher = options.dispatcher;

            this.inputType = options.inputType || 'hidden';

            this.data = options.data;

            this.displayColumns = options.displayColumns || this.data.get('columns');
            this.cellRenderers = options.cellRenderers || {};

            this.listenTo(this.data, 'change', this.render);
        },

        render: function() {
            this.$el.html('<thead><tr></tr></thead><tbody></tbody>');
            this.renderTableHeadings_();
            this.renderTableData_();
            this.dispatcher.trigger('selectedDataChange');
            return this;
        },

        getSelectedData: function() {
            return _.map(this.$('input[type=checkbox]:checked, input[type=hidden]'), function(el) {
                return this.data.get('values')[parseInt($(el).val())];
            }, this);
        },

        defaultCellRenderer: function(value) {
            return value;
        },

        headingsRenderer: function(names) {
            return _.map(this.displayColumns, function (colName) {
                return '<th>' + colName + '</th>';
            }, this);
        },

        dataRenderer: function(row) {
            return _.map(this.displayColumns, function (colName, index) {
                var cellRenderer = this.cellRenderers[colName] || this.defaultCellRenderer;
                return '<td>' + cellRenderer(row[colName], index, row) + '</td>';
            }, this);
        },

        renderTableHeadings_: function() {
            this.$el.find('thead tr').html('<th></th>').append(this.headingsRenderer(this.data.get('columns')));
        },

        renderTableData_: function () {

            var count = -1;
            this.$el.find('tbody').empty().append(_.map(this.data.get('values'), function(row) {
                count ++;
                return this.generateDataRowHtml_(row, count);
            }, this));

            if (this.data.values.length == 1) {
                this.$el.find('input[type=' + this.inputType + ']').prop('checked', true).change();
            }
        },

        generateDataRowHtml_: function(row, index) {
            return '<tr>' +
                    '<td><input type="' + this.inputType + '" name="entry" value="' + index + '" /></td>' +
                    this.dataRenderer(row) +
                    '</tr>';
        },

        truncateBody: function() {
            this.data.set('values', []);
        },

        toggleResult: function(event) {
            var $row = $(event.currentTarget).closest('tr');
            if (event.currentTarget.checked) {
                $row.addClass('selected');
            } else {
                $row.removeClass('selected');
            }
            this.dispatcher.trigger('selectedDataChange');
        },

        clickResult: function(event) {
            event.stopPropagation(); // Stop event going to the row
        },

        clickResultRow: function(event) {
            $(event.currentTarget).find('input[name=entry]').each(function(idx, el) {
                var currentState = $(el).prop('checked');
                $(el).prop('checked', !currentState).change();
            });
        },

        defaultHeadingsRenderer: function(names) {
            return $.map(names, function (colName) {
                return '<th>' + colName + '</th>';
            });
        },

        defaultDataRenderer: function(values) {
            return values.map(function (value) {
                return '<td>' + value + '</td>';
            });
        }

    });

    var DataForm = Backbone.View.extend({

        tagName: 'form',

        events: {
            'submit': 'submit'
        },

        initialize: function(options) {

            this.dispatcher = options.dispatcher;

            var childOpts = _.clone(options);
            delete childOpts.el;
            delete childOpts.id;
            this.blocks = options.blocks || [];
        },

        render: function() {
            this.$el.empty().append(_.map(this.blocks, function(block) {
                return block.render().$el;
            }, this));
            return this;
        },

        submit: function(event) {
            event.preventDefault();
            var formData = this.$el.serializeObject();
            this.dispatcher.trigger('submit', {
                data: formData
            });
        }

    });

    var DataTableForm = DataForm.extend({

        events: {
            'submit': 'submit',
            'click button[type=reset]': 'reset'
        },

        initialize: function(options) {
            DataForm.prototype.initialize.call(this, options);
            this.dispatcher.bind('selectedDataChange', this.onTableSelectedDataChange, this);
        },

        render: function() {
            DataForm.prototype.render.call(this);
            this.setButtonsDisabled_(true, 'submit');
            return this;
        },

        onTableSelectedDataChange: function() {
            this.setButtonsDisabled_(this.getNumTableRowsSelected_() === 0, 'submit');
        },

        getTableControls: function() {
            var empty = [];
            return empty.concat.apply(empty, _.map(this.blocks, function(block) {
                return block.getTableControls();
            }));
        },

        getNumTableRowsSelected_: function() {
            return _.reduce(_.values(this.getTableData()), function(memo, val) {
                return memo + _.pairs(val).length;
            }, 0, this);
        },

        getTableData: function() {
            return _.object(_.map(_.filter(this.getTableControls(), function(control) {
                return control.id;
            }), function(control) {
                return [control.id, control.getSelectedData()];
            }));
        },

        clearTableData_: function() {
            _.each(this.getTableControls(), function(control) {
                control.truncateBody();
            });
        },

        submit: function(event) {
            event.preventDefault();
            var formData = this.$el.serializeObject();
            this.dispatcher.trigger('submit', {
                data: formData,
                tableData: this.getTableData()
            });
            this.clearTableData_();
            this.setButtonsDisabled_(true, 'submit');
        },

        reset: function() {
            this.clearTableData_();
        },

        setButtonsDisabled_: function (disabled, type) {
            this.$el.find('button[type=' + (type || '') + ']').prop('disabled', disabled);
        }


    });

    var FormBlock = Backbone.View.extend({
        className: 'block form-group',
        initialize: function(options) {
            this.controls = options.controls;
        },
        render: function() {
            this.$el.empty().append(_.map(this.controls, function(control) {
                return control.render().$el;
            }, this));
            return this;
        },
        getTableControls() {
            return _.filter(this.controls, function (control) {
                return control.tagName === 'table';
            });
        }
    });

    var FormGroupInline = Backbone.View.extend({
        className: 'inline form-group',
        initialize: function(options) {
            this.controls = options.controls;
        },
        render: function() {
            this.$el.empty().append(_.map(this.controls, function(control) {
                return control.render().$el;
            }, this));
            return this;
        },
        getTableControls() {
            return _.filter(this.controls, function (control) {
                return control.tagName === 'table';
            });
        }
    });

    var FormButton = Backbone.View.extend({
        tagName: 'button',
        initialize: function(options) {
            this.type = options.type;
            this.disabled = options.disabled === true;
            this.required = options.required === true;
            this.text = options.text;
        },
        render: function() {
            this.$el.html(this.text)
                    .prop('type', this.type)
                    .prop('disabled', this.disabled)
                    .prop('required', this.required);
            return this;
        }
    });
</script>